body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.wrapper {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  flex-shrink: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f0edf7;
}

.dropdown-toggle { outline: 0; }

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-bg-dark-custom {
  color: #fff !important;
  background-color: RGBA(42, 87, 164, var(--bs-bg-opacity, 1)) !important;
}

#sidebar .nav-pills .nav-link:hover {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
}